/**************/
/* BASE RULES */
/**************/
body {
  background: #eaebec;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Libre Baskerville', serif;}

.site-name {font-family: 'Libre Baskerville', serif;}

.wrapper-tags {width: 100%;clear: both;text-align: center;}

a.tag {padding: .25em .5em;
    font-size: 85%;
    background-color: #f9f9f9;
    border-radius: 3px;
    color: #7497BA;
}
.tag {display: inline-block;  margin-top: .5em;}

.videoWrapper {position: relative; padding-bottom: 56.333%; height: 0;}
.videoWrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}    

a.tag:hover {color: #4183C4;}

.pagination {width: 100%;clear: both;text-align: center;  font-family: 'Source Sans Pro', sans-serif; font-size: 1em; opacity: 0.5;}
.pagination a {font-weight: bold;}

.posts {word-spacing: -14px; text-align: justify;}

.wrapper-footer {width: 100%;clear: both;}
.wrapper-footer span{font-size:.8em; text-align: right; float:right; margin-right:1em;}


.card {
  text-align: left;
  word-spacing: 0px;
  box-sizing: border-box;
display: inline-block;
  vertical-align: top;
  padding: 5px 5px 5px 5px;
  border: 5px solid white;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14),0 1px 1px -1px rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14),0 1px 1px -1px rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.2);
}

    
/* Smartphones (portrait) */
@media only screen and (max-width : 320px)  {
  .card {width: 95%;  margin: 1em .2em 1em .2em;}
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
.card {width: 95%;  margin: 1em .5em 1em .5em;}
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card {width: 45%;  margin: 1em 1em 1em 1em;}
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .card {width: 30%;  margin: 1em 1em 1em 1em;}
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {width: 23%;  margin: 1% 1% 1% 1%;}
}

