/**************/
/* BASE RULES */
/**************/
.card {
  width: 200px;
  box-sizing: border-box;
  float: left;
  margin: 1em 1em 1em 1em;
  padding: 5px 5px 5px 5px;
  border: 5px solid white;
  border-radius: 3px;
  background-color: #f00;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14),0 1px 1px -1px rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14),0 1px 1px -1px rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.2);
}

.wrapper-footer {width: 100%;}
