.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  vertical-align: bottom;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  }



.wrapper-projeto{display:; text-align: center; padding-top: 10%;}
.wrapper-projeto p{color: #fff;font-size:2em ;text-transform: uppercase;font-weight: 400;line-height: 1.2em;}

.item:hover {
  flex: 7;
}

.item-1 {
  background-image: url("../img/cajc.jpg?auto=format&fit=crop&w=1233&q=80");
}

.item-2 {
  background-image: url("../img/background_contatos.jpg?auto=format&fit=crop&w=1233&q=80");
}

.item-3 {
  background-image: url("../img/cidade.jpg?auto=format&fit=crop&w=1233&q=80");
}

.item-4 {
  background-image: url("https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80");
}

.item-5 {
  background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80");
}
