/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}



/* main */
body {
   font-family: "Source Sans Pro", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 300;
   color: #414f57;
   font-size: 17.5px;
}

/* fix para sidenav overlay */
.navbar-fixed { z-index: 9999; }
.sidenav-trigger i {font-size: 2.7rem !important}

/* fix para links */
nav ul a {padding: 0 13px;}

nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.0);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.0), 0 2px 10px 0 rgba(0, 0, 0, 0.0);
       z-index: 999;
}



.nonTopNav{
  background-color: #212121 !important;
  color: #FFFFFF !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 300ms linear;
}


.modal-large { width: 85% !important ; height: 85% !important ; max-width: 1100px;}


/* header image */
#header-image {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../img/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 2px;
    box-sizing: border-box;
    overflow: hidden;
}


#header-pano {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.destaque{z-index: 998; position:absolute; width: 50%;margin-left: 25%;margin-right: 25%;}
.destaque h1{color: #fff;font-size:3em ;text-transform: uppercase;font-weight: 600;line-height: 1.2em;}
.destaque h3{color: #fff;font-size:3em ;text-transform: uppercase;font-weight: 400;line-height: 1.2em;}
.destaquesmall{z-index: 998; position:absolute; width: 80%;margin-left: 10%;margin-right: 10%;}
.destaquesmall h1{color: #fff;font-size:3em ;text-transform: uppercase;font-weight: 600;line-height: 1.2em;}
.destaquesmall h3{color: #fff;font-size:3em ;text-transform: uppercase;font-weight: 400;line-height: 1.2em;}
.scroll-link {font-size: 6em;opacity: .6;}
.scroll-link:hover{opacity: 1;}

.destaque img{max-width: 80%; height: auto;}

/* sobre */
notused-sobre-img {max-width: 90% !important;}
.thick {font-weight: bold;}


/* contactos */
ul.linkscontactos {list-style-type: none;}
ul.linkscontactos li {float: left;list-style-type: none;margin: 0 15px;line-height: 6em;}
.breakmail{word-break: break-all;}

/* footer */
footer{background-color: #202020;color: #FFF;font-size: .8em;}
.logo_footer {width: 90%;}
.footer-copyright{background-color: #151515;font-size: .8em;text-transform: uppercase;color: #FFF;}
.logos_footer {width: 90%; max-width: 200px; height: auto;}
